:root {
  --col-primary: #ff005a;
  --col-primary-rgb: 255, 0, 90;
  --col-secondary: #000000;
  --col-secondary-rgb: 0, 0, 0;
  --col-block-bg: #ffffff;
  --col-block-bg-rgb: 255, 255, 255;
  --col-btn: var(--col-primary);
  --col-button-disabled: rgba(var(--col-primary-rgb), 0.7);
  --col-text: var(--col-secondary);
  --col-text-secondary: var(--col-primary);
  --col-field-txt: var(--col-text);
  --col-app-background: var(col-block-bg);
  --col-btn-txt: #ffffff;
  --col-block-shadow: 
    0 0.3rem 0.5rem -0.1rem rgba(var(--col-secondary-rgb), 0.2),
    0 0.6rem 1rem 0 rgba(var(--col-secondary-rgb), 0.14),
    0 1px 18px 0 rgba(var(--col-secondary-rgb), 0.12);
}