@import '~@/scss/variables';
@import '../../static/fonts/index.css';
@import '../../node_modules/@mdi/font/css/materialdesignicons.min.css';
@import '../../node_modules/nprogress/nprogress.css';

:root {
  --col-primary: #{$col-primary};
  --col-primary-rgb: 255, 0, 90;
  --col-secondary: #{$col-secondary};
  --col-secondary-rgb: 0, 0, 0;
  --col-block-bg: #ffffff;
  --col-block-bg-rgb: 255, 255, 255;
  --col-btn: var(--col-primary);
  --col-button-disabled: rgba(var(--col-primary-rgb), 0.7);
  --col-text: var(--col-secondary);
  --col-text-secondary: #8990a5;
  --col-field-txt: var(--col-text);
  --col-app-background: #f8f9fa;
  --col-page-heading: var(--col-text);
  --col-page-subheading: var(--col-text-secondary);
  --col-btn-txt: #ffffff;
  --col-block-shadow: 
    0 0.3rem 0.5rem -0.1rem rgba(var(--col-secondary-rgb), 0.2),
    0 0.6rem 1rem 0 rgba(var(--col-secondary-rgb), 0.14),
    0 0.1rem 1.8rem 0 rgba(var(--col-secondary-rgb), 0.12);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  &:focus { outline: none; }
}

body,
input,
select,
button,
textarea {
  background-color: var(--col-app-background);
  color: var(--col-text);
  font-family: 'Roboto', 'Noto Sans', '-apple-system', 'BlinkMacSystemFont', sans-serif;
  font-weight: 400;
  letter-spacing: 0.003rem;
}

textarea,
button,
select,
input,
body,
span,
p { font-size: 1.4rem; }

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  cursor: pointer;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  /* Remove excess padding and border in Firefox 4+ */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

body, p, li, ul { color: var(--col-text); }

html {
  font-size: 10px;
  overflow: auto !important;
  -webkit-overflow-scrolling: touch !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#app {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;

  &,
  & main { background-color: var(--col-app-background); }

  & ul,
  li { list-style-type: none; }
}

#nprogress {
  z-index: 120;
  top: 0;
  width: 100%;
  position: fixed;

  .bar {
    // !importants are for overwrite nprogress’ styles
    background: var(--col-primary) !important;
    height: 0.2rem !important;
  }
}

.app__page-content { padding: 3rem 2rem; }