@import '@static/branding/app-colors';

/* https://material.io/guidelines/layout/responsive-ui.html#responsive-ui-breakpoints */
$x-large: 1920px;
$large: 1440px;
$x-medium: 1200px;

$media-desktop: 1130px;

$medium: 1024px;
$media-small-desktop: 960px;
$tablet: 820px;

$sidebar-hide-bp: 1280px;

$small: 600px;
$x-small: 480px;

$status-message-reposition-bp: 470px;

$app-sidebar-width: 26rem;

$content-padding-top: 2rem;
$content-padding-bottom: 5.9rem;
$content-padding-left: 8rem;
$content-padding-right: 7.3rem;
$content-side-paddings-sm: 2rem;

// z indexes
$z-status-message: 210;
$z-app-sidebar-burger: 10;
$z-app-sidebar-backdrop: 115;
$z-app-sidebar: 120;

$_white: #ffffff;
$_wildSand: #f5f5f5;
$_blueHaze: #d2d6e5;
$_zirkon: #f5f7ff;
$_lightRed: #ff4d00;
$_alto: #e0e0e0;
$_black: #000000;
$_yellowGreen: #3cab00;
$_orangePeel: #ffa333;
$_mercury: #e5e5e5;

// status colors:
$col-warning: $_orangePeel;
$col-success: $_yellowGreen;
$col-error: $_lightRed;
$col-info: $_white;

// status message colors:
$col-status-msg-warning: $col-warning;
$col-status-msg-success: $col-success;
$col-status-msg-error: $col-error;
$col-status-msg-info: $col-info;
$col-status-msg-bg: var(--col-block-bg);
$col-status-msg-text: $_white;
$col-status-msg-text-dark: var(--col-text);
$col-status-close-btn-hover: rgba(0, 0, 0, 0.1);

// field variables
$col-field-text: var(--col-field-txt);
$col-field-icon: $col-field-text;
$z-index-select-field-list: 5;
$z-index-label: 2;
$field-color-background: transparent;
$field-color-text: $col-field-text;
$field-color-text-disabled: var(--col-text-secondary);
$field-carret-color: $col-field-text;
$field-color-label: $col-field-text;
$field-color-focused: var(--col-primary);
$field-color-hover: var(--col-text-secondary);
$field-color-unfocused: $_blueHaze;
$field-color-disabled: $_zirkon;
$field-color-error: $_lightRed;
$field-border-radius: 0.6rem;
$field-text-font-size: 1.4rem;
$field-text-line-height: 2rem;
$field-label-font-size: 1.2rem;
$field-label-line-height: 1;
$field-text-letter-spacing: 0.03rem;
$field-error-font-size: 1.2rem;
$field-error-line-height: 1.25;
$field-transition-duration: 0.2s;
$field-error-margin-top: 0.6rem;
$field-input-padding-top: 1.5rem;
$field-input-padding-bottom: 0.6rem;
$field-input-padding: $field-input-padding-top 0 $field-input-padding-bottom 0;
$field-label-color: $field-color-focused;
$field-placeholder-color: var(--col-text-secondary);

// app button
$col-app-button-primary-text: $_white;
$col-app-button-primary-bg: $col-primary;
$col-app-button-primary-disabled-bg: lighten($col-app-button-primary-bg, 40%);
$col-app-button-primary-hover-bg: lighten($col-app-button-primary-bg, 10%);

$col-app-button-secondary-text: rgba($_black, 0.87);
$col-app-button-secondary-bg: $_alto;
$col-app-button-secondary-disabled-bg: lighten($col-app-button-secondary-bg, 8%);
$col-app-button-secondary-hover-bg: darken($col-app-button-secondary-bg, 10%);


// app-sidebar
$col-app-sidebar-background: var(--col-block-bg);
$col-app-sidebar-border: 0.1rem solid $_alto;
$col-app-sidebar-backdrop: rgba($_black, 0.46);
$col-app-sidebar-backdrop-animation: cubic-bezier(0.4, 0, 0.2, 1);
$col-app-sidebar-text: var(--col-text);
$col-app-sidebar-active-elem-background: $_mercury;
$col-app-sidebar-burger-button: $_wildSand;
$col-app-sidebar-burger-icon-color: rgba($_black, 0.87);
$col-app-sidebar-burger-button-shadow: 
  0 0.2rem 0.1rem -0.1rem rgba($_black, 0.2),
  0 0.1rem 0.1rem 0 rgba($_black, 0.14),
  0 0.1rem 0.3rem 0 rgba($_black, 0.12);


// app-footer
$col-app-footer-border: 0.1rem solid $_alto;
$col-app-footer-background: var(--col-block-bg);
$col-app-footer-text: var(--col-text);